<div class="md:my-14 md:mx-64">
  <form
    class="bg-white rounded px-8 pt-6 pb-8 mb-4"
    #EmployeeRegestration="ngForm"
    (ngSubmit)="onSubmit(EmployeeRegestration)"
  >
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Name
      </label>
      <input
        class="
          shadow
          appearance-none
          border
          rounded
          w-full
          py-2
          px-3
          text-gray-700
          leading-tight
          focus:outline-none focus:shadow-outline
        "
        required
        id="username"
        type="text"
        placeholder="name"
        [(ngModel)]="employeename"
        name="EmployeeName"
        #EmployeeName="ngModel"
      />
      <label
        class="ml-1 text-red-500"
        *ngIf="
          EmployeeName.invalid && (EmployeeName.dirty || EmployeeName.touched)
        "
      >
        Name is required</label
      >
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        E-mail
      </label>
      <input
        class="
          shadow
          appearance-none
          border
          rounded
          w-full
          py-2
          px-3
          text-gray-700
          leading-tight
          focus:outline-none focus:shadow-outline
        "
        required
        id="username"
        type="text"
        placeholder="E-mail"
        [ngModel]="email"
        name="Email"
        #Email="ngModel"
        pattern="[^\s@]+@[^\s@]+\.[^\s@]+"
      />
      <label
        class="ml-1 text-red-500"
        *ngIf="Email.invalid && (Email.dirty || Email.touched)"
      >
        e-mail is empty or not valid.</label
      >
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Contact No.
      </label>
      <input
        class="
          shadow
          appearance-none
          border
          rounded
          w-full
          py-2
          px-3
          text-gray-700
          leading-tight
          focus:outline-none focus:shadow-outline
        "
        required
        id="username"
        type="text"
        placeholder="Contact No."
        [ngModel]="contact"
        name="ContactNo"
        #ContactNo="ngModel"
        pattern="\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})"
      />
      <label
        class="ml-1 text-red-500"
        *ngIf="ContactNo.invalid && (ContactNo.dirty || ContactNo.touched)"
      >
        Contact no. is empty or not valid.</label
      >
    </div>
    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
      Department
    </label>
    <div class="inline-block relative w-full">
      <select
        class="
          shadow
          appearance-none
          w-full
          bg-white
          border
          hover:border-gray-500
          px-4
          py-2
          pr-8
          rounded
          shadow
          text-gray-700
          leading-tight
          focus:outline-none focus:shadow-outline
        "
        required
        [ngModel]="department"
        name="Department"
        #Department="ngModel"
      >
        <option>Managed Service</option>
        <option>Professional Service</option>
        <option>Product Service</option>
        <option>HR</option>
        <option>Admin</option>
        <option>Finance</option>
        <option>Sales & Marketing</option>
      </select>
      <div
        class="
          pointer-events-none
          absolute
          inset-y-0
          right-0
          flex
          items-center
          px-2
          text-gray-700
        "
      >
        <svg
          class="fill-current h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          />
        </svg>
      </div>
    </div>
    <label
      class="ml-1 text-red-500"
      *ngIf="Department.invalid && (Department.dirty || Department.touched)"
    >
      department is required.</label
    >
    <div class="flex items-center mt-5 justify-between">
      <button
        class="
          bg-blue-500
          hover:bg-blue-700
          text-white
          font-bold
          py-2
          px-4
          rounded
          focus:outline-none focus:shadow-outline
        "
        type="submit"
        [disabled]="EmployeeRegestration.invalid"
      >
        save
      </button>
      <div class="flex items-center justify-between">
        <button
          class="
            bg-blue-500
            hover:bg-blue-700
            text-white
            font-bold
            py-2
            px-4
            rounded
            focus:outline-none focus:shadow-outline
          "
          type="reset"
          (click)="reset(EmployeeRegestration)"
        >
          Clear
        </button>
      </div>
    </div>
  </form>
</div>
